/* GLOBAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  width: 90%;
  margin: auto;
}

.btn {
  border-radius: 10px;
  padding: 5px 10px;
  letter-spacing: 1px;
  border: none;
}

/* HEADER BANNER */

header {
  min-height: 10vh;
  background-color: #362fd9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

/* TOP PANEL COMPONENT STYLING */
.top-panel {
  margin: 20px auto;
  min-height: 100px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-panel {
  background: #362fd9;
  color: white;
  font-size: 1.7rem;
  min-width: 25%;
  min-height: 50px;
}

/* LIST EVENTS COMPONENT TABLE STYLING */

/* .main-table {
  min-height: 50vh;
  background-color: rgb(234, 228, 228);
} */

table {
  /* margin-top: 20px; */
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

th,
td {
  /* padding: 20px; */
  border: 1px solid #ddd;
}

/* only border on the bottom of every row */
tr {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

tr:hover {
  background-color: #82c3ec;
}

.col-hearts {
  width: 5%;
}

.col-name,
.col-desc {
  width: 20%;
}

.col-date,
.col-category {
  width: 15%;
}

.col-edit,
.col-del {
  width: 10%;
}

/* EVENT ROW COMPONENT STYLING */

.heart {
  color: white;
  font-size: 2.5rem;
  background: none;
  border: none;
}

.heart span {
  text-shadow: -2px 0 palevioletred, 0 2px palevioletred, 2px 0 palevioletred,
    0 -2px palevioletred;
}

.btn-edit {
  background: orange;
}

.btn-delete {
  background: red;
}

.btn-row {
  font-size: 16px;
}

/* MODAL FORM COMPONENT */

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50vw;
  min-height: 20vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.modal-header,
.modal-footer {
  padding: 10px;
  margin: 5px 0;
}

.modal-header {
  font-size: 20px;
}

.modal-body {
  padding: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
